body > div > div > ol > li {
    margin: 0 5px;
}

div.container-image > img {
width: 100%;
}

@import
url('https://fonts.googleapis.com/css?family=Ubuntu');
@media (max-width: 480px) {
h1 {
font-size: 18px;
}
}

body {
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

div h1 {
    color: #6f42c1;
    font-family: ‘Ubuntu’, sans-serif;
    font-weight: bold;
    text-align: center;
}

body > div > nav > div > a > h4 {
    color: #fff;
    font-family: ‘Ubuntu’, sans-serif;

}

.article-block {
background: #fff;
color: #383838;
font-family: ‘Ubuntu’, sans-serif;
box-shadow: 2px 2px 1px #ccc;
padding: 10px;
margin: 10px;
}

.article-block a {
color: #383838;
font-family: ‘Ubuntu’, sans-serif;
}

body > div > div > ol > li {
margin: 0 5px;
}

div.container-image > img {
width: 100%;
}

p {


}

.blog-title {
    font-size: 30px;
    margin-top: 50px;
    border: #062c33;
    text-align: center;
}

.to-home {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;

}

.to-home a h4{
    font-size: 10px;
    font-weight: bold;
    color: #062c33;
}

.article-list__item {
    padding: 15px;
    margin-top: 15px;
    background: #b1dfbb;
}

.article-list__item a {
    text-align: center;
}

.article-list__item h5{
    text-align: right;
}

.fotorama__img {
    margin-top: 15px;
}