{% extends "base.html" %}
{% load static %}
{% block content %}
{% spaceless %}
     <div>
         <ol class="breadcrumb">
             <li><a href="/">Головна</a></li> >
             <li><a href="{% url 'articles-list' %}">Публікації</a></li> >
             <li><a href="{{ item.category.get_absolute_url }}">{{ item.category|upper}}</a></li> >
             <li>{{ item.title|upper }}</li>
         </ol>
         <div class="article-list__item">
             <div>
             <h4>
             {{ item.title }}
             </h4>
             <h5>
              {{ item.pub_date|date:"d E Y"|safe|linebreaks }}
             </h5>
         </div>
         <div>
         {{ item.description|escape|safe }}
         {% if item.images.all %}
         {% include 'fotorama.html' with images=images %}
         {% endif %}

         </div>
         </div>
     <div class='clearfix'></div>
     </div>
{% endspaceless %}
{% endblock %}